body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #212121;
  font-family: realist, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f5f5f5;
}

#top {
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-family: scriptorama-tradeshow-jf, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
  color: #f5f5f5;
  margin: 0;
  padding-top: 13px;
}

#subtitle {
  margin-top: 0;
}

#content {
  font-size: 1em;
  text-align: center;
}

#header {
  background-color: #3b3b3b;
  height: 150px;
  margin: 0;
  text-align: center;
  box-shadow: 10px 10px 5px #171717;
}

#colors {
  background-color: #3b3b3b;
  width: 80%;
  height: 300px;
  margin: auto;
  margin-top: 50px;
  padding: 3%;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #171717;
  text-align: center;
}

.inputfile+label {
  margin-top: 26px;
  padding: 24px;
  font-family: Livvic;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  color: #000000;
  background-color: #F8E71C;
  display: inline-block;
  cursor: pointer;
  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
}

.colorCard {
  display: inline-block; 
  *display: inline; zoom: 1; 
  vertical-align: top; 
  width: 19%;
  height: 100%;
  color: #3b3b3b;
  vertical-align: middle;
}

/* Set the edge boxes to have rounded edges */
#colorOne {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#colorFive {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#controls {
  height: 150px;
  width: 80%;
  padding:3%;
  margin: auto;
  margin-bottom: 30px;
}

input {
  border-radius: 5px;
  border-color: none;
  font-family: realist, sans-serif;
  font-weight: 400;
  font-style: normal;
  height:25px;
}

button {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  font-family: realist, sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 5px;
  height:30px;
  width:70px;
  margin-left:10px;
}

.name {
  font-weight: 600;
  font-size: 1.5em;
}

select {
  font-family: realist, sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 25px;
  border-radius: 5px;
}

option {
  font-family: realist, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#image {
  float: right;
}